*{
    /* otomatik gelen margin silinmesi */
    margin: 0;
    
}
body{
    /* kenarlarda boşluk için */
    margin: 0 5% 0 5%;
}
header{
    /* resmi ortalama  */
    display:flex;
    justify-content: center;
    justify-items: center;
}
.col{
    /* arkaplan rengi  */
    background-color: #EEEEEE;
}
section{
    /* grid ile 3 satır yanyana alan oluşturuyorum.  */
    display: grid;
    grid-template-columns: minmax(40%, auto) minmax(20%, auto) minmax(40%, auto);
    padding: 2px;
    }
article{
    /* alan içindekileri ortalama  */
    display: inline-block;
    min-width: 100%;
    width: 100%; 
    justify-items: center;
    justify-items: center;
    text-align: center;
}
article p{
    display: inline-block;
}
.row1{
    background-color: #7EE5DA;
}
.row2{
    background-color: #70CCC2;
}
.row3{
    background-color: #62B3AA;
}

footer{
    /* copyright yazısını ortalama  */
    display: flex;
    justify-content: center;
    justify-items: center;
}