body{
    /* background-color: #BABDBF; */

    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    
    text-indent: 5px;
    text-indent: 5px;
    background-attachment: fixed;
    min-height: 90%;
    min-width: 60%;
    margin: 2% 20% 2% 20%;
    
}
body a:visited{
    color: black;
    text-decoration:none;
}
body a{
    color: black;
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;

}
hr{
    
    border:10px #272726 #272726 ; 
    border-radius:10px;
    border-color: #272726;
}
header,nav,section,footer{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 3px 3px 3px 3px;
    margin-top: 5px;
}
header{
    text-shadow: 2px 1px 0.5px #9a9a9a;
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display:inline-block;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.urunler{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.urunler article{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.urunler figure{
    margin: auto;
}
.urunler figure img{
    border-radius: 40px;
}
footer img{
    border-radius: 20px;
}

